/* .circle{
    display: inline-block;
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
} */

/* before */
h1::before{
    content: "";
    display: inline-block;
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

/* after */
h1::after{
    content: "";
    display: inline-block;
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px; 
}